websockets>=11.0
PyYAML>=6.0
openai>=1.0
aiohttp>=3.9
Pillow>=10.0
numpy>=1.26
tenacity>=8.0
APScheduler>=3.10,<4
setproctitle>=1.3
pilmoji>=2.0
emoji==1.7
colour-science>=0.4
psutil>=5.9
py-cpuinfo>=9.0
qrcode>=7.4
pyzbar>=0.1.9
ffmpeg-python>=0.2.0
aiosqlite>=0.20
aiorpcx>=0.23